{% extends 'store/main.html' %}
{% load static %}
{% block default %}
     <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-interval="2000">
      <img src="https://th.bing.com/th/id/R.817ef9376dd94cbf00dbc02cc854a2d3?rik=UuTWSA0uiLMz6A&pid=ImgRaw&r=0" class="d-block w-100" alt="..." style="height: 700px;">
        <div class="carousel-caption d-none d-md-block">
            <a href="{% url 'store' %}"><img src="{% static 'images/xx.png' %}" class="animated bounce infinite" alt="Transparent MDB Logo" id="animated-img1" style="width:300px;margin-top: -300px;"></a>

{#            <div class="row container d-flex justify-content-center" style="margin-top: -500px">#}
{#        <button type="button" class="btn btn-warning" style="color: azure"><b>SHOP NOW</b></button>#}
{#        </div>#}
      </div>
    </div>
    <div class="carousel-item" data-interval="2000">
      <img src="https://images.wallpapersden.com/image/download/akatsuki-organization-anime_a2xqbGeUmZqaraWkpJRobWllrWdma2U.jpg" class="d-block w-100" alt="..." style="height: 700px;">
         <div class="carousel-caption d-none d-md-block">
            <a href="{% url 'store' %}"><img src="{% static 'images/pngegg.png' %}" class="animated bounce infinite" alt="Transparent MDB Logo" id="animated-img1" style="width:300px;margin-top: -300px;"></a>

{#            <div class="row container d-flex justify-content-center" style="margin-top: -500px">#}
{#        <button type="button" class="btn btn-warning" style="color: azure"><b>SHOP NOW</b></button>#}
{#        </div>#}
      </div>
    </div>
  </div>

</div>
{% endblock default %}