{% extends 'store/main.html' %}
{% load static %}
{% block default %}
     <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-interval="2000">
      <img src="https://th.bing.com/th/id/R.817ef9376dd94cbf00dbc02cc854a2d3?rik=UuTWSA0uiLMz6A&pid=ImgRaw&r=0" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
        <img src="https://th.bing.com/th/id/OIP.gpneZpf41BXYhj170B99pQHaE8?w=259&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7" class="animated bounce infinite" alt="Transparent MDB Logo" id="animated-img1">
        <p>SHOP</p>
      </div>
    </div>
    <div class="carousel-item" data-interval="2000">
      <img src="https://images.wallpapersden.com/image/download/akatsuki-organization-anime_a2xqbGeUmZqaraWkpJRobWllrWdma2U.jpg" class="d-block w-100" alt="...">
    </div>
  </div>

</div>
{% endblock default %}